@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Montserrat', sans-serif;

}
nav  {
    position: relative;
  }
  nav ul li:first-child {
    margin-left: 5px;
}
  nav ul li {
      margin-left: 25px;
      font-size: 22px;
  }
  nav ul li a{
    border-top: #fff 2px solid;
    border-bottom: #fff 2px solid;
  }
  nav ul li a:hover{
    border-bottom: orangered 2px solid;
  }

img{
    width: 300px;
    height: 300px;
}
select option:disabled {
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #000;
    color: #aaa;
    opacity: 0.8;
    filter: alpha(opacity=100);
}
hr{
    border-top: none;
    border-bottom: 5px dotted coral;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 75%;
}
.social-icons{
    color: #fff;
    margin: 2rem;
}
.social-icons:hover{
    color: #aaa;
}
.logo{
    width: 150px;
    height: 60px;
    margin-right: 20px;
}
.filter{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background: -moz-linear-gradient(45deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.6) 36%, rgba(0,0,0,0.89) 83%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,0,0,0.3)), color-stop(36%, rgba(0,0,0,0.6)), color-stop(83%, rgba(0,0,0,0.89)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.6) 36%, rgba(0,0,0,0.89) 83%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.6) 36%, rgba(0,0,0,0.89) 83%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.6) 36%, rgba(0,0,0,0.89) 83%, rgba(0,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.6) 36%, rgba(0,0,0,0.89) 83%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    padding: 10% 5%;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.img-banner{
    border-top-left-radius: 15%;
    height: 100%;
    width: 100%;
    position: relative;
}
.banner_description{
    position: absolute;
    margin-top: -30%;
    border-radius: 0px 0px 5px 5px;
    width: 65%;
    height: 200px;
    padding: 30px;
    background-color: rgba(24,24,24, 0.8);
    color: white;
    text-align: center;
}
.center{
    text-align: center;
    padding-left: 25px;
}
.carousel-control-prev-icon{
    background-color: #ff4444;
}
.carousel-control-next-icon{
    background-color:  #ff4444;
}

.carTitle {
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
}
.container{
    margin-top: 20px;
    text-align: center;
}
.fonts{
    font-size:480px;
}
/* Category Ads */


/* ABOUT US */
.about-us-title-1{
    background-color: orangered;
    color: #fff;
    margin: 1.5rem 0 3rem 0;
    padding: 15px;
    text-align: center;
}
.about-us-title-2{
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
    color: orangered;
    margin: 1.5rem 0 3rem 0;
    padding: 15px;
    text-align: center;
}
.about-us-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 2rem;
}
.car{
    font-size: 7rem;
    color: tomato;
}
.social-icons{
    font-size: 3rem;
}
.footer-1{
    background-color: #FF6347;
    padding: 3% 1%;
}
.footer-2{
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 1.7% 1%;
}

/* Get In Touch With Us */
.form{
    border: 1px solid lightgray;
    border-radius: 5%;
    margin-top: 5%;
    padding: 5%;
    box-shadow: -1px 0px 24px 11px rgba(0,0,0,0.11);
    -webkit-box-shadow: -1px 0px 24px 11px rgba(0,0,0,0.11); 
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-form form{
    padding: 3%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
.to-top-icon{
    float: right;
    margin-right: 30px;
    font-size: 2.5rem;
    border: 2px solid grey;
    border-radius: 10%;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
}
.to-top-icon:hover{
    color: gray;
    background-color: #fff;
    border: 2px solid #fff;
}

#ads {
    margin: 30px 0 30px 0;
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;        
    }

   
#ads .card{
    margin-bottom: 30px;
}
#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #e6de08;
    }

#ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }

.description{
    font-size: 3rem;
}
@media only screen and (max-width: 1200px) {
    .description{
        font-size: 2rem;
    }
    .banner_description{
       height: 150px;
       margin-top: -35%;
    }
  }
@media only screen and (max-width: 767.5px) {
    .img-banner{
        border-top-left-radius: 15%;
        height: 100%;
        width: 100%;
        margin-top:3%;
    }
    .filter{
        padding: 10% 5%;
    }
    .banner_description{
        height: 150px;
        margin-top: -35%;
     }
}
  @media only screen and (max-width: 510px) {
    .description{
        font-size: 1rem;
    }
    .banner_description{
       height: 80px;
       padding: 20px;
       margin-top: -30%;
    }
}


